.navbarContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999999;
}

.navbarBrandLogo {
  max-width: 13rem;
}

@media screen and (min-width: 600px) {
  .navbarContainer {
    display: block;
  }
}
