.game-assets-container {
  padding: 5rem 0;
  background-color: #d5970e;
  background-image: url("../../assets/gameAssets/gameAssetBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.titleBannerImage {
  width: 100%;
  max-width: 17rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assetTitleContainer {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin: 2rem 0;
  max-width: 500px;
  width: 100%;
  font-family: "Londrina Solid", cursive;
  font-style: normal;
  letter-spacing: 2px;
}

.assetTitle {
  font-size: 2rem;
  color: #fff;
  font-family: "Londrina Solid", cursive;
  font-style: normal;
}

.assetContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.asset {
  max-width: 11rem;
  width: 100%;
  margin: 1.5rem;
  transform: scale(1);
  transition: all 0.2s;
}

.avatarAsset {
  width: 100%;
}

.tractorAsset {
  max-width: 22rem;
  width: 100%;
  margin: 1.5rem;
  transform: scale(1);
  transition: all 0.2s;
}

.avatarContainer {
  background-image: url("../../assets/gameAssets/avatarBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 17rem;
  height: 23rem;
  width: 100%;
  transform: scale(0.8);
  transition: all 0.2s;
  position: relative;
}

@media screen and (min-width: 800px) {
  .titleBannerImage {
    max-width: 19rem;
  }

  .asset:hover {
    transform: scale(1.1);
  }

  .tractorAsset:hover {
    transform: scale(1.1);
  }
  .avatarContainer:hover {
    transform: scale(0.9);
  }
}
